<div id="landing-page">
  <header>
  </header>
  <div class="content">
    <form [formGroup]="form">
      <div id="secao-inicial">
        <h1 class="confortaa titulo">escadômetro</h1>
        <p class="roboto-bold letter-space">CALCULADORA DE ESCADAS</p>
        <label>
          comece indicando a altura que a escada vai subir do<br>piso de um andar ao piso de outro andar, em
          centímetros:
        </label>
        <input numeric id="alturaEscada" class="inter-light inputbox" type="text" formControlName="stairHeight"
          placeholder="exemplo: 270 cm">
        <div class="text-danger invalid inter" *ngIf="!validMessage">
          Por favor, indique a altura antes de continuar
        </div>
        <div class="botao-web">
          <button type="button" class="btn-padrao inter-light" (click)="goToResult()">
            ver opções ->
          </button>
        </div>
      </div>
    </form>

    <div id="secao-final">
      <img src="../../../assets/landing.svg" />

      <div id="texto">
        <p class="inter-semibold informacao">
          o comprimento total da escada e suas demais medidas dependerão da opção de escada escolhida
        </p>
      </div>

      <div class="botao-mobile">
        <button type="button" class="btn-padrao inter" (click)="goToResult()">
          ver opções ->
        </button>
      </div>
    </div>
  </div>
  <footer>
    <a href="https://github.com/MarcosVRSDev" target="_blank">
      Made with 💙 by MVRSDev
    </a>
  </footer>
</div>