a {
  text-decoration: none;
  color: black;
}

.card {
  width: 20vw;
  min-width: 90vw;
  display: flex;
  border-radius: 20px;
  font-size: 16px;
  background-color: #f7f7f7;
  margin-bottom: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  border-radius: 20px;
  border-bottom: none;
  background-color: #f7f7f7;
  padding: 10px 20px;
}

.card-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffab07;
}

.card-header-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 12px;
}

.card-body {
  font-size: 12px;
  padding: 0 20px 20px 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #f7f7f7;
  p {
    text-align: left;
  }
  p.item-caixa {
    text-align: center;
  }
}

.item-card {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-caixa {
  min-width: 75px;
  min-height: 25px;
  text-align: center;
  border: 1px solid;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

.flex-50 {
  flex: 0 0 50%;
}

.star {
  font-size: 1em;
  color: linear-gradient(180deg, rgba(231, 173, 129, 1) 0%, rgba(247, 191, 115, 1) 100%);
}
